
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <link rel="stylesheet" href="..\static\css\home.css">
  <title>Personal Expense Tracker</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1>BATCH: B1-1M3E</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">Services</a></li>
          
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
            <LI><a href="login.html" data-after="Login">-Login-</a></LI>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <!-- <h1>Hey, <span></span></h1> -->
        <h1>Welcome To <span></span></h1>
        <h1>Personal Expense Tracker Web application <span></span></h1>
        <a href="signup.html" type="button" class="cta">Sign-up</a> 
      </div>
    </div>
  </section>
  
 <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="..\static\images\KSRIET.png" alt="img">
          </div>
      </div>

      <div class="col-right">
        <h1 class="section-title">About Us</h1>
        <h2><span>Category: Cloud App Development</span></h2>
         <h2> Contributors:</h2>
           <h2>Harish S</h2>
          <h2>Thulasivasan V</h2>
          <h2>Anand K</h2>
          <h2>Sri Logesh KS</h2>
        <a href="#footer" class="cta">Follow Us</a>

      </div>
    </div>
  </section>
  <!-- End About Section -->

 
  <script src="..\static\js\home.js"></script>
</body>

</html>
